* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#register-link:visited {
        color: blue;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}